*{
    border: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all .3s;
}
.main-section-products.flex.overflow-x-scroll {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
  
.main-section-products.flex.overflow-x-scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.mainsection-banner{
    background-image: url('./img/Banner.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
 /* body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.main{
    height: calc(100vh - 5rem)
}
.main-section-deals{
    width: 100vw;
}  */